* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
button {
  border: 1px solid gray;
  background: rgb(235, 231, 231);
  margin-right: 5px;
}
button:hover {
  border: 1px solid gray;
  background: rgb(220, 217, 217);
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}
button:nth-last-child(2):hover,
button:nth-last-child(1):hover {
  background: rgb(233, 85, 59);
  color: white;
}
p {
  font-size: large;
  font-weight: bold;
}


.App {
  margin: 20px;
} 